<!DOCTYPE html>
<html>
    <head>
        <title>Svatba Péťa a Romča</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/index.css" />
    </head>

    <body>
        <div>Svatba povolena! </div>
        <br />
        <div>Gratulujeme k vaší dnešní svatbě. Máte to konečně za sebou a nyní nastává ta snadnější část - společný život. Doufáme, že si budete vždy skvělou oporou a stejně skvělá dvojka jako doposud. Tady je něco na procvičení týmové spolupráce.  </div>
        <br />
        <div>
            Jako svatební dar jsme si pro Vás připravili malé hádanky 
            s odměnou na konci. Každý z Vás vyřešením své části nalezne 6
            slov. Když je spojíte, dostanete (překvapení) 12 slov. Tato slova
            tvoří heslo do Bitcoinové peněženky a jejich vložením ve správném
            pořadí například do mobilní peněženky
            <a href="https://www.coinomi.com/en/" target="_blank">Coinomi</a>
            si nárokujete svůj svatební dar. Takže hurá na to!
        </div>
        <br />
        <div>
            <a href="quiz/zubenka/">Kvíz pro Zuběnku</a>
        </div>
        <div>
            <a href="quiz/ajtak/">Kvíz pro Ajťáka</a>
        </div>
    </body>
</html>
