<!DOCTYPE html>
<html>
    <head>
        <title>Svatba Péťa a Romča</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/index.css" />
    </head>

    <body>
        <div>Vítejte na svatbě!</div>
        <br />
        <div>
            Jako svatební dar jsme si pro Vás připravili malý kvíz (pro každého
            jeden) s odměnou na konci. Každý z Vás vyřešením své části nalezne 6
            slov. Ty, když spojíte, dostanete (překvapení) 12 slov. Tato slova
            tvoří heslo do Bitcoinové peněženky. Vložením slov ve správném
            pořadí například do mobilní peněženky
            <a href="https://www.coinomi.com/en/" target="_blank">Coinomi</a>
            si nárokujete svůj svatební dar. Takže hurá na to!
        </div>
        <br />
        <div>
            <a href="quiz/zubenka/">Kvíz pro Zuběnku</a>
        </div>
        <div>
            <a href="quiz/ajtak/">Kvíz pro Ajťáka</a>
        </div>
    </body>
</html>
