<!DOCTYPE html>
<html>
    <head>
        <title>Wedding</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <div>Welcome to the wedding!</div>
        <br />
        <div>
            As a wedding gift, we prepared a small quiz with a possible reward
            at the end. The quiz result is in the form of 12 words that you need
            to collect. These 12 words would then form a sequence unlocking the
            reward. You ask what is the reward? Bitcoinz!!!! When you have the
            words, input them in the right order into
            <a href="https://www.coinomi.com/en/" target="_blank"
                >Coinomi mobile wallet</a
            >
            and enjoy them Bitcoinz!!!!!!!!
        </div>
        <br />
        <div>
            <a href="quiz/zubenka/">Quiz for Zubenka</a>
        </div>
        <div>
            <a href="quiz/ajtak/">Quiz for Ajtak</a>
        </div>
    </body>
</html>
